@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@RenderChildren(Model.Content);

@helper RenderChildren(IPublishedContent parent)
{
    foreach (IPublishedContent child in parent.Children)
    {
        if (child.DocumentTypeAlias == "Text")
        {
            Html.RenderPartial("_TextPartial", child);
        }
        else if (child.DocumentTypeAlias == "PhotoText")
        {
            Html.RenderPartial("_PhotoTextPartial", child);
        }
        else if (child.DocumentTypeAlias == "Video")
        {
            Html.RenderPartial("_VideoPartial", child);
        }
        else if (child.DocumentTypeAlias == "YouTubeVideo")
        {
            Html.RenderPartial("_YouTubeVideoPartial", child);
        }
        else if (child.DocumentTypeAlias == "Collapsible")
        {
            Html.RenderPartial("_AccordianPartial", child);
        }
        else if (child.DocumentTypeAlias == "SpecificContentList")
        {
            Html.RenderPartial("_SpecificContentListPartial", child);
        }
        else if (child.DocumentTypeAlias == "List")
        {
            ViewBag.Umbraco = Umbraco;
            Html.RenderPartial("_ListPartial", child);
        }
        else if (child.DocumentTypeAlias == "Featured")
        {
    @renderFeaturedPartial(child)
        }
        else if (child.DocumentTypeAlias == "Column")
        {
    @renderColumnsPartial(child)
        }
    }
}


@helper renderFeaturedPartial(IPublishedContent featured)
{
    var url = "";   

    <div class="grid-row">
        <section class="widget doctors-carousel doctors">
            <div class="widget-title">@featured.GetPropertyValue("heading")</div>
            <div id="doctors-carousel" class="owl-carousel">
                @foreach (IPublishedContent child in featured.Children)
                {
                    url = Umbraco.TypedMedia(child.GetPropertyValue<int>("itemImage")).Url;

                    <div class="item">
                        <div class="pic">
                            <img src="@url" width="270" height="270" alt="@child.GetPropertyValue("heading")">
                            <div class="links">
                                <ul>
                                    <li><a href="#" class="fa fa-share"></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>@child.GetPropertyValue("heading")</h3>
                        <p>@child.GetPropertyValue("itemDescription")</p>
                    </div>
                }
            </div>
            <div class="owl-controls clickable">
                <div class="owl-buttons">
                    <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </section>
    </div>
}

@helper renderColumnsPartial(IPublishedContent parent)
{
    var cols = 12;
    var span = "";

    foreach (IPublishedContent child in parent.Children)
    {
        span = child.GetPropertyValue<string>("span");

        cols -= span.Contains("Less")
                    ? 9
                    : span.Contains("More")
                        ? 3
                        : span.Contains("Full")
                            ? 0
                            : 6;

        if (cols < 12)
        {
    <div class="grid-col grid-col-@cols">
       @RenderChildren(child);
    </div>
        }
        else
        {
            @RenderChildren(child);
        }
    }
}