@{
    var eventPages = ViewBag.EventPages;
    var qEventType = ViewBag.EventType;
    var qCurrentDate = ViewBag.CurrentDate;

    int eventsPerPage = 6;

    int previousMonth = -1;
    var lstEvents = eventPages.Where("Visible").Where("eventDate > @0", qCurrentDate).OrderBy("eventDate").Take(eventsPerPage).AsEnumerable();

    var lastEventDate = lstEvents.Any() ? Convert.ToDateTime(lstEvents.Last().EventDate).Ticks : DateTime.Today.Ticks;
}

<script type="text/template" id="tmplEventsFooter">
    <span class="nav"><a href="javascript:void(0);" class="load-more fa" onclick="loadMoreEvents()"> Load More </a></span>
</script>

<script type="text/template" id="tmplEventsContent">
    <div>
        <div class="template-content">
            @foreach (dynamic eventPage in lstEvents)
            {
                var eDate = eventPage.GetPropertyValue("eventDate");
                if (previousMonth < eDate.Month)
                {
                    <span class="event-month-seperator">
                        <span> @eDate.ToString("MMMM yyyy")</span>
                    </span>
                }
                previousMonth = eDate.Month;

                <text>
                    @RenderEvent(eventPage)
                </text>
            }
        </div>
    </div>
</script>

@helper RenderEvent(dynamic eventPage)
{

    var eventId = eventPage.Id;
    var eventName = eventPage.Name;
    //var eventUrl = eventPage.Url;
    var eventUrl = "#";
    var eventCost = eventPage.EventCost;

    var eventStartDate = eventPage.EventDate;
    var eventStartTime = eventStartDate.ToString("hh:mm tt");
    var eventEndDate = eventPage.EventEndDate;
    var eventEndTime = eventEndDate.ToString("hh:mm tt");

    var eventDate = eventStartDate.ToString("MMMM d, yyyy");

    string eventImageId = eventPage.EventImage + "";
    var hasImage = true;
    var eventImageMedia = uQuery.GetMedia(eventImageId);
    var eventImageUrl = "";
    if (eventImageMedia != null)
    {
        eventImageUrl = eventImageMedia.GenericProperties[0].Value.ToString();
    }
    else
    {
        hasImage = false;
        eventImageUrl = "/favicon.ico";
    }

    var eventSummary = eventPage.EventSummary;

    var googleMapLink = eventPage.EventGmapLink;

    var addrStreet = eventPage.AddrStreet;
    var addrLocality = eventPage.AddrLocality;
    var addrRegion = eventPage.AddrRegion;
    var addrCountry = eventPage.AddrCountry;
    var addrRegionAbbr = eventPage.AddrRegionAbbr;

    <h2 class="event-title">
        <a class="url" title="@eventName" rel="bookmark">
            @eventName

            @if (eventCost > 0)
            {
                <span>&nbsp; - &nbsp; &#163;@eventCost</span>
            }
        </a>
    </h2>
    if (hasImage)
    {

        <div class="event-image">
            <a>
                <img src="@eventImageUrl" alt="@eventName">
            </a>
        </div>

    }


    <div class="event-summary">
        <p> @eventSummary </p>
    </div>

    <div class="event-footer">

        <div class="event-schedule">
            <span class="start-time">@eventStartDate &#64; @eventStartTime</span>
            -
            <span class="end-time">@eventEndTime</span>
        </div>

        <div class="event-venue">
            @*<span class="author"></span>*@
            <address class="event-address">
                <span class="adr">
                    <span class="street-address">@addrStreet</span>
                    <br>
                    <span class="locality">@addrLocality</span>
                    <span class="delimiter">,</span>
                    <abbr class="region" title="@addrRegion">@addrRegionAbbr</abbr>
                    <span class="country-name">@addrCountry</span>
                </span>
            </address>

            @if (googleMapLink != null && googleMapLink != "")
            {
                <a class="event-gmap" href="@googleMapLink" title="Click to view a Google Map" target="_blank">
                    + Google Map
                </a>
            }
        </div>

        <a href="javascript:void(0)" class="see-more fa" data-title="@eventName" data-event-id="@eventPage.Id" onclick="registerForEvent()">&nbsp;</a>
    </div>

}

<script type="text/javascript" id="eventTemplateScript">
    function getEventType() {
        return "@(qEventType ?? "Upcoming Events")";
    }

    function getLastEventDate() {
        return new Date(@(lastEventDate));
    }

    function hasNextPage() {
        @{
            var lastEvent = lstEvents.Last();
        }

        var v = "@(eventPages.Any() ? eventPages.Where("Visible").Where("eventDate >= @0", lastEvent.EventDate).Where("id != @0", lastEvent.Id).Any() : false)";
        return v === "True";
    }
</script>