@inherits Umbraco.Web.Mvc.UmbracoViewPage<umbraco.NodeFactory.Node>
@{
    var url = "";
}
@if (Umbraco.TypedContent(Model.Id).IsVisible())
{
    <div class="grid-row">
        <section class="widget doctors-carousel doctors">
            <div class="widget-title">@Model.GetProperty("heading")</div>
            <div id="doctors-carousel" class="owl-carousel">
                @foreach (umbraco.NodeFactory.Node child in Model.ChildrenAsList.RandomOrder())
                {
                    url = Umbraco.TypedMedia(child.GetProperty<int>("itemImage")).Url;

                    <div class="item">
                        <div class="pic">
                            <img src="@url" width="270" height="270" alt="@child.GetProperty("heading")">
                            <div class="links">
                                <ul>
                                    <li><a href="#" class="fa fa-share"></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>@child.GetProperty("heading")</h3>
                        <p>@child.GetProperty("itemDescription")</p>
                    </div>
                }
            </div>
            <div class="owl-controls clickable">
                <div class="owl-buttons">
                    <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </section>
    </div>
}