@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

<!-- page title -->
@if (!(Model.Name.ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase)))
{
    <section class="page-title">
        <div class="grid-row clearfix">
            <h1>@Model.Name</h1>
            <nav class="bread-crumbs">
                @*<a href="#">@Model.Content.GetPropertyValue("heading")</a><span>&nbsp;&nbsp;</span>*@
                @RenderBreadCrumbs()
            </nav>
        </div>
    </section>
}
<!--/ page title -->

@helper RenderBreadCrumbs()
{
    if ((bool)ViewBag.ShowTitleBar)
    {
        var currentModel = Model.Ancestors().Where(a => a.Level > 1).OrderByDescending(a => a.Level);
        foreach (IPublishedContent ancestror in currentModel)
        {
    <a href="@ancestror.Url()">@ancestror.Name</a>
    <span>&nbsp;</span>
    <i class="fa fa-angle-right"></i><span>&nbsp;</span>
        }
        @Model.Name<span> &nbsp; &nbsp;</span>
    }
}