@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- page title -->
@if (!(Model.Content.GetPropertyValue<bool>("TitleBar")))
{
    <section class="page-title">
        <div class="grid-row clearfix">
            <h1>@Model.Content.GetPropertyValue("heading")</h1>
            <nav class="bread-crumbs">
                @*<a href="#">@Model.Content.GetPropertyValue("heading")</a><span>&nbsp;&nbsp;</span>*@
                @RenderBreadCrumbs()
            </nav>
        </div>
    </section>
}
<!--/ page title -->

@helper RenderBreadCrumbs()
{
    if (Model.Content.DocumentTypeAlias != "index")
    {
        var currentModel = Model.Content.Ancestors().OrderByDescending(a => a.Level).Where(a => a.DocumentTypeAlias.ToLower() != "layout");
        foreach (IPublishedContent ancestror in currentModel)
        {
        <a href="@ancestror.Url()">@ancestror.GetPropertyValue("heading")</a>
        <span>&nbsp;</span>
        <i class="fa fa-angle-right"></i><span>&nbsp;</span>
        }
    }
    @Model.Content.GetPropertyValue("heading")<span>&nbsp;&nbsp;</span>
}