@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var breadcrumbs = ((PurityBridge.Live.PageTitleModel)ViewBag.BreadCrumbs);
}

<!-- page title -->
@if (!(Model.Name.ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase)))
{
    var isUnderConstruction = Request.RawUrl.Contains("construction");
    var name = breadcrumbs == null
                    ? Model.GetPropertyValue<string>("heading")
                    : breadcrumbs.BreadCrumbs.Last();

    if (Model.DocumentTypeAlias == "Photos")
    {
        name += " Photos";
    }
    else if (Model.DocumentTypeAlias == "Videos")
    {
        name += " Videos";
    }
    else if (isUnderConstruction)
    {
        name += "Under Construction";
    }
    <section class="page-title">
        <div class="grid-row clearfix">
            <h1>@name</h1>
            @if (!isUnderConstruction)
            {
                @RenderBreadCrumbs(breadcrumbs)
            }
        </div>
    </section>
}
<!--/ page title -->

@helper RenderBreadCrumbs(PurityBridge.Live.PageTitleModel breadcrumb)
{
    <nav class="bread-crumbs">
        <a href="/">Home </a><span>&nbsp;</span>
        @foreach (IPublishedContent ancestor in Model.AncestorsOrSelf().Where(node => node.Level > 1).Skip(1).Reverse())
        {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            <a href="@ancestor.Url">@ancestor.Name</a>
            <span>&nbsp;</span>
        }
        <i class="fa fa-angle-right"></i><span>&nbsp;</span>
        @if (breadcrumb == null)
        {
            @Model.Name
        }
        else
        {
            <a href="@Model.Url">@Model.Name</a>
            <span>&nbsp;</span>
            var breadCrumbs = breadcrumb.BreadCrumbs;
            var currentNodes = uQuery.GetCurrentNode().GetDescendantNodes().Where(node => breadCrumbs.Contains(node.UrlName));
            var treatmentCategoryNodes = uQuery.GetNodesByType("PageData").First().GetDescendantNodes().Where(node => breadCrumbs.Contains(node.UrlName));
            //var treatmentNodes = uQuery.GetNodesByType("TreatmentsData").First().GetDescendantNodesByType("Treatment").TakeWhile(node => breadCrumbs.Contains(node.UrlName));

            foreach (umbraco.NodeFactory.Node node in currentNodes.WhereNotNull())
            {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            <a href="@node.Url">@node.Name</a>
            <span>&nbsp;</span>
            }
            foreach (umbraco.NodeFactory.Node node in treatmentCategoryNodes.WhereNotNull())
            {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            <a href="@node.UrlName">@node.GetProperty("heading")</a>
            <span>&nbsp;</span>
            }
@*foreach (umbraco.NodeFactory.Node node in treatmentNodes)
            {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            <a href="@node.Url">@node.GetProperty("heading")</a>
            }*@
        }
    </nav>
}