@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- page title -->

<section class="page-title">
    <div class="grid-row clearfix">
        <h1>@Model.Content.GetPropertyValue("heading")</h1>
        <nav class="bread-crumbs">
            <a href="#">@Model.Content.GetPropertyValue("heading")</a>
            @RenderBreadCrumbs()
        </nav>
    </div>
</section>
<!--/ page title -->

@helper RenderBreadCrumbs()
{
    var currentModel = Model.Content.Parent;
    while (currentModel.DocumentTypeAlias.ToLower() != "layout")
    {
    <i class="fa fa-angle-right"></i>
    <a href="@currentModel.Url()">@currentModel.GetPropertyValue("heading")</a>
        currentModel = currentModel.Parent;
    }
}