@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var breadcrumbs = ((PurityBridge.Live.BreadCrumb)ViewBag.BreadCrumbs);
}

<!-- page title -->
@if (!(Model.Name.ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase)))
{
    var isUnderConstruction = Request.RawUrl.Contains("construction");
    var referedNode = Model;
    var name = breadcrumbs == null
                    ? Model.GetPropertyValue<string>("heading")
                    : breadcrumbs.BreadCrumbs.Last();

    if (Model.DocumentTypeAlias == "Photos")
    {
        name += " Photos";
    }
    else if (Model.DocumentTypeAlias == "Videos")
    {
        name += " Videos";
    }
    else if (isUnderConstruction)
    {
        name += "Under Construction";
    }
    <section class="page-title">
        <div class="grid-row clearfix">
            <h1>@name</h1>
            @if (!isUnderConstruction)
            {
                @RenderBreadCrumbs(referedNode, breadcrumbs)
            }
        </div>
    </section>
}
<!--/ page title -->

@helper RenderBreadCrumbs(IPublishedContent headerNode, PurityBridge.Live.BreadCrumb breadcrumb)
{
    <nav class="bread-crumbs">
        <a href="/">Home </a><span>&nbsp;</span>
        @foreach (IPublishedContent ancestor in Model.AncestorsOrSelf().Where(node => node.Level > 1).Skip(1).Reverse())
        {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            <a href="@ancestor.Url">@ancestor.Name</a>
            <span>&nbsp;</span>
        }
        <i class="fa fa-angle-right"></i><span>&nbsp;</span>
        @if (breadcrumb == null)
        {
            @Model.Name
        }
        else
        {
            <a href="@Model.Url">@Model.Name</a>
            foreach (string arg in breadcrumb.BreadCrumbs)
            {
            <i class="fa fa-angle-right"></i><span>&nbsp;</span>
                var node = uQuery.GetCurrentNode().GetDescendantNodes().Where(d => d.UrlName == arg).FirstOrDefault();
            <a href="@node.Url">@node.Name</a>
            }
        }
    </nav>
}