@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

<!-- help -->
<section id="relatedLinksSection" class="widget doctors-carousel doctors">
    <div class="widget-title">Similar Treatments</div>

    <div id="help-carousel" class="owl-carousel">
        @foreach (IPublishedContent child in Model.Children(c => c.DocumentTypeAlias == "Link"))
        {
            if (child.Index() % 2 == 0)
            {
            <div>
                <ul>
                    @RenderChildren(child)
                </ul>
            </div>
            }
        }
    </div>
</section>
<!--/ help -->

@helper RenderChildren(IPublishedContent child)
{
    var linkedContent = Umbraco.TypedContent(child.GetPropertyValue<int>("relatedPage"));
    <li class="item">
        <div class="pic">
            <img src="@linkedContent.GetCropUrl("thumbnail", "thumb")" width="142" height="142" alt="@linkedContent.GetPropertyValue("heading")">
            <div class="links">
                <ul>
                    <li><a href="#" class="fa fa-mail-forward"></a></li>
                </ul>
            </div>
        </div>
        <h3>@linkedContent.GetPropertyValue("heading")</h3>
        <p></p>
    </li>
    if (child.Next() != null)
    {
        linkedContent = Umbraco.TypedContent(child.Next().GetPropertyValue<int>("relatedPage"));
    <li class="item">
        <div class="pic">
            <img src="@linkedContent.GetCropUrl("thumbnail", "thumb")" alt="@linkedContent.GetPropertyValue("heading")">
            <div class="links">
                <ul>
                    <li><a href="#" class="fa fa-mail-forward"></a></li>
                </ul>
            </div>
        </div>
        <h3>@linkedContent.GetPropertyValue("heading")</h3>
        <p></p>
    </li>
    }
}