@model IPublishedContent
@{
    var capacity = Model.GetPropertyValue<int>("Capacity");
    var width = capacity == 4
                    ? "270"
                    : capacity == 3
                        ? "370"
                        : capacity == 2
                        ? "570"
                        : "870";

    var height = capacity == 4
                    ? "142"
                    : capacity == 3
                        ? "195"
                        : capacity == 2
                        ? "300"
                        : "548";
    var isotope = "link";
    var childHeading = "";
    var childText = "";
}

<section class="widget photo-tour photo-tour-@capacity" id="photo-tour">
    <div class="widget-title">@Model.GetPropertyValue("Heading")</div>

    @*<select class="filter">
            <option value=".item">Pediatric clinic</option>
            <option value=".item1">Commodo purus sit</option>
            <option value=".item2">Nullam euismod</option>
            <option value=".item3">Quisque venenatis</option>
        </select>*@

    <div class="grid isotope">
        @foreach (IPublishedContent thumbnailPage in Model.Ancestor(2).Children(c => c.Url != Model.Parent.Url && c.DocumentTypeAlias.ToLower().Contains("content")))
        {
            childHeading = thumbnailPage.GetPropertyValue<string>("heading");
            //childText = thumbnailPage.GetPropertyValue<string>("text");
            <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                <div class="pic">
                    <img width="@width" height="@height" alt="Nullam euismod commodo" src="@thumbnailPage.GetCropUrl("thumbnail", "thumb")">
                    <div class="links">
                        <ul>
                            <li><a class="fa fa-@isotope" href="@thumbnailPage.Url"></a></li>
                        </ul>
                    </div>
                </div>
                <h3>@childHeading</h3>
                <p>@childText</p>
            </div>
            }
        @*<a class="button more" data-page="2" data-template="photo-four" href="#"><i class="fa fa-refresh"></i>Load more</a>*@
    </div>
</section>
