@model IPublishedContent
@{
    
    var IsInheritable = Model.DocumentTypeAlias.ToLower() != "text";
    var content = string.Format("<p>{0}</p><br><br>",
                        Model.GetPropertyValue<string>("text")
                                     .Replace('\n' + "", "</p><p>"));    
}
<article>
    <div class="typography">
        <h3>
            @Model.GetPropertyValue("heading")
        </h3>
        @if (Model.DocumentTypeAlias.ToLower() != "text")
        {
            @RenderSection("BeforeContent", required: false);
            @Html.Raw(content)
            @RenderSection("AfterContent", required: false);
        }
        else
        {
            @Html.Raw(content)
        }
    </div>
</article>
@if (Model.DocumentTypeAlias.ToLower() != "text")
{
    @RenderBody();
}
