@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
<div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
    <div class="pic">
        <ul class="ca-image">
            <li class="before">
                <div class="mask">
                    BEFORE
                </div>
                <div class="image-div">
                    <img alt="@Model.GetPropertyValue("heading")-before" src="@Umbraco.TypedMedia(Model.GetPropertyValue<int>("beforeImage")).Url">
                </div>
            </li>
            <li class="after">
                <div class="image-div">
                    <img alt="@Model.GetPropertyValue("heading")-after" src="@Umbraco.TypedMedia(Model.GetPropertyValue<int>("afterImage")).Url">
                </div>
                <div class="mask">
                    AFTER
                </div>
            </li>
        </ul>
    </div>
    <h3>@Model.GetPropertyValue("heading")</h3>
    <p></p>
</div>