@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
<div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
    <div class="pic">
        <ul class="ca-image">
            <li class="before">
                <div class="ca-content">
                    <div class="mask">
                        <p>B</p>
                        <p>E</p>
                        <p>F</p>
                        <p>O</p>
                        <p>R</p>
                        <p>E</p>
                    </div>
                </div>
                <img alt="@Model.GetPropertyValue("heading")-before" src="@Umbraco.TypedMedia(Model.GetPropertyValue<int>("beforeImage")).Url">
            </li>
            <li class="after">
                <div class="ca-content">
                    <div class="mask">
                        <p>A</p>
                        <p>F</p>
                        <p>T</p>
                        <p>E</p>
                        <p>R</p>
                    </div>
                </div>
                <img alt="@Model.GetPropertyValue("heading")-after" src="@Umbraco.TypedMedia(Model.GetPropertyValue<int>("afterImage")).Url">
            </li>
        </ul>
    </div>
    <h3>@Model.GetPropertyValue("heading")</h3>
    <p></p>
</div>