@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = false;
    var treatmentData = uQuery.GetNodesByType("TreatmentsData");
    IEnumerable<IPublishedContent> children = null;
}
<link href="~/Content/css/pricelist.css" rel="stylesheet" />
@{
    var pageData = Umbraco.TypedContent(uQuery.GetNodesByType("PriceListData").First().Id);
}
<div class="callout wpb_content_element">
    <div class="icon"><img src=" ~/Content/Logo.png" /></div>
    <div class="callout-wrapper">
        <div class="callout-content">
            <div class="title">@pageData.GetPropertyValue("mainHeading")</div>
            <div class="subtitle">@pageData.GetPropertyValue("subHeading")</div>
        </div>
        <div class="callout-button">
            @if (pageData.HasValue("priceListFile"))
            {
                <a class="button" href="@pageData.GetPropertyValue("priceListFile")">@pageData.GetPropertyValue("fileDownloadButtonText")</a>
            }
        </div>
    </div>
</div>
@if (treatmentData.Any())
{
    <div class="widget pricing-table wpb_content_element">
        <div class="widget-title">@pageData.GetPropertyValue("tableHeading")</div>
        <div class="row">
            @foreach (var treatmentCategory in treatmentData.First().GetChildNodesByType("TreatmentsCategoryData"))
            {
                var heading = uQuery.GetNodeByUrl(treatmentCategory.Url.Replace("/data/", "/")).GetProperty("heading").Value;
                <div class="col col-4" data-category="@heading">
                    <div class="head"><span>@treatmentCategory.GetProperty("headingLine1")</span>@treatmentCategory.GetProperty("headingLine2")</div>
                    @* <div class="price">
                            <div><sup></sup><span></span></div>
                        </div>*@
                    <ul class="listing">
                        @foreach (var treatment in treatmentCategory.GetChildNodesByType("TreatmentData"))
                        {
                            <li>
                                <div class="price-list-bullet">
                                    <img src="/favicon.ico" />
                                </div>
                                <div class="price-list-item">
                                    @uQuery.GetNodeByUrl(treatment.Url.Replace("/data/", "/")).GetProperty("heading").Value
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="summary">@treatmentCategory.GetProperty("description")</div>
                    <div class="join">
                        <a href="javascript:void(0)" onclick="loadDetails('@heading')">
                            <button class="wpb_button wpb_btn-large">@pageData.GetPropertyValue("priceTableColumnLinkHeading")</button>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="grid-row-sep" id="servicesSeparator"></div>
<div class="grid-row details">
    <!-- services -->
    <section class="services services-wide wpb_content_element" id="services">
        <div class="widget-title"></div>
        <div class="owl-carousel owl-theme" id="services-carousel">
        </div>
        <div class="owl-controls clickable">
            <div class="owl-buttons">
                <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                <div class="owl-next"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    </section>
    <section id="services-carousel-data">
        @foreach (var treatmentCategory in treatmentData.First().GetChildNodesByType("TreatmentsCategoryData"))
        {
            children = Umbraco.TypedContent(treatmentCategory.Id).Children(c => c.DocumentTypeAlias == "TreatmentData");
            <div class="treatment-category" data-category="@uQuery.GetNodeByUrl(treatmentCategory.Url.Replace("/data/","/")).GetProperty("heading").Value">
                @if (children.Count() <= 2)
                {
                    foreach (var treatment in children)
                    {
                        if (treatment.Index() % 2 == 0)
                        {
                            <div class="item">
                                @renderListItems(treatment)
                            </div>
                            if (treatment.Next("TreatmentData", false) != null)
                            {
                                <div class="item">
                                    @renderListItems(treatment.Next())
                                </div>
                            }
                        }
                    }
                }
                else
                {
                    foreach (var treatment in children)
                    {
                        if (treatment.Index() % 2 == 0)
                        {
                            <div class="item">
                                <div style="min-height: 170px; padding-bottom: 40px;">
                                    @renderListItems(treatment)
                                </div>
                                @if (treatment.Next("TreatmentData", false) != null)
                                {
                                    <div style="min-height: 170px">
                                        @renderListItems(treatment.Next())
                                    </div>
                                }
                            </div>
                        }
                    }
                }
            </div>
        }
    </section>
    <!--/ services -->
</div>
<div class="grid-row-sep details"></div>
@helper renderListItems(IPublishedContent treatment)
{
    <a class="pic"><div>From £@treatment.GetPropertyValue("price")</div></a>
    <h2><a href="#">@uQuery.GetNodeByUrl(treatment.Url.Replace("/data/", "/")).GetProperty("heading").Value</a></h2>
    <p>@treatment.GetPropertyValue("description")</p>
    <a class="more fa fa-long-arrow-right" href="#"></a>

}
<style>
    .owl-carousel .item {
        width: initial !important;
    }

    .services li {
        width: initial !important;
    }

    .active {
        position: relative;
        background: #fff !important;
        box-shadow: 0 0 20px rgba(0,0,0,0.2) !important;
    }
</style>
@section scripts {
    <script>
        $(document).ready(function () {
            var temp = $('.col.col-4').toArray().sort(function (a, b) { return $(a).outerHeight() - $(b).outerHeight(); }).reverse()[0];
            $('.col.col-4').each(function (i, e) {
                $(e).find('.listing').first().css({ minHeight: $(temp).find('.listing').first().height() })
            });

            $('.details').hide();
        });
        function loadDetails(name) {
            $('.active').removeClass('active');
            $(".row .col[data-category='" + name + "']").addClass('active');

            $('#services-carousel-data').first().hide();
            $('.details .widget-title').text(name + " Price Details");
            var html = "";
            html = $('#services-carousel-data').first().find(".treatment-category[data-category='" + name + "']").html();
            $('#services-carousel').remove();
            $('.services').first().find('.widget-title').first().after('<div class="owl-carousel owl-theme" id="services-carousel">' + html + '</div>');
            $('#services-carousel').owlCarousel({
                items: 2,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsTabletSmall: false,
                itemsMobile: [479, 1],
                navigation: true,
                navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                pagination: false
            });
            $('.details').show();

            setTimeout(function () {
                document.getElementById('servicesSeparator').scrollIntoView();
            }, 200);
        }

        function GetComprehensivePriceList() {
            //$.ajax({
            //    url: "http://fiddle.jshell.net/favicon.png",
            //    success : function (xhr) {

            //    },
            //    error: {

            //    }
            //});
            window.location.href = '/the-price-list/GetComprehensivePriceList?comprehensive=true';
        }
    </script>
}