@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var categories = uQuery.GetNodesByType("TreatmentsCategory");
    ViewBag.UrlPrefix = string.Empty;
    var url = "#";
}
<section class="widget treatments-carousel">
    @*<div class="widget-title">@Model.GetProperty("heading")</div>*@
    <div id="treatments-carousel" class="owl-carousel">

        <ul class="ca-menu">
            @foreach (umbraco.NodeFactory.Node category in categories)
            {
                url = "./" + category.UrlName;
                <li>
                    <div class="item">
                        <a href="@url">
                            <span class="ca-icon">F</span>
                            <div class="ca-content">
                                <h2 class="ca-main">@category.GetProperty("heading")</h2>
                            </div>
                        </a>
                    </div>
                </li>
                @*<li>
                    <div class="item">
                        <a href="@url">
                            <span class="ca-icon">F</span>
                            <div class="ca-content">
                                <h2 class="ca-main">@category.GetProperty("heading")</h2>
                            </div>
                        </a>
                    </div>
                </li>*@
            }
        </ul>
    </div>
    <div class="owl-controls clickable">
        <div class="owl-buttons">
            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $('head').append('<link rel="stylesheet" href="/Content/css/category.css" type="text/css" />');
        $.cachedScript("/scripts/categories.js").done(function (script, textStatus) {
            console.log(textStatus);
        });
    </script>
}