@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.UrlPrefix = string.Empty;
    var treatmentsNode = uQuery.GetCurrentNode();
}
<style>
    /* ---------- */
    /*    1024    */
    /* ---------- */
    .nb1024 .photo-tour h3 {
        font-size: 15px;
    }

    /* ---------- */
    /*    768     */
    /* ---------- */
    

    /* ---------- */
    /*    320     */
    /* ---------- */
    .nb320 #photo-content .vc_span3 {
        display: none !important;
    }
</style>

@if (treatmentsNode.Children.Count > 0)
{
    var url = "#";
    var treatmentsData = uQuery.GetNodesByType("TreatmentsData");
    if (treatmentsData.Any())
    {
        var treatmentsDataChildren = treatmentsData.First().GetChildNodes();
        umbraco.NodeFactory.Node matchedNode = null;

        <div class="vc_row-fluid">
            <div class="vc_span12">
                <section class="widget photo-tour photo-tour-4" id="photo-tour">
                    <div class="grid isotope">
                        @foreach (umbraco.NodeFactory.Node category in treatmentsNode.GetChildNodesByType("TreatmentsCategoryPage").WhereNotNull())
                        {
                            var heading = category.GetProperty("heading");
                            matchedNode = treatmentsDataChildren.FirstOrDefault(node => node.UrlName == category.UrlName);
                            url = string.Format("{0}{1}{2}", Request.RawUrl, (Request.RawUrl.EndsWith("/") ? string.Empty : "/"), category.UrlName);
                            var alt = matchedNode.GetProperty<string>("thumbnailImageAltValue") ?? string.Empty;
                            <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                                <div class="pic">
                                    <img src="@Umbraco.TypedContent(matchedNode.Id).GetCropUrl("thumbnail", "thumb")" alt="@alt" />
                                    <div class="links">
                                        <ul>
                                            <li><a href="@url" class="fa fa-mail-forward"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3>@heading</h3>
                                <p></p>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
        <div id="photo-content" class="vc_row-fluid beautify">
            @Html.Partial("_ContentPartial", Umbraco.TypedContent(treatmentsDataChildren.WhereNotNull().FirstOrDefault(c => c.NodeTypeAlias.Equals("Details", StringComparison.InvariantCultureIgnoreCase)).GetChildNodesByType("content").First().Id))
        </div>
    }
}
