@using Umbraco.Web.Models
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = true;
    var urlName = Request.RawUrl.Split(new string[] {"/"}, StringSplitOptions.RemoveEmptyEntries).Last();
    var treatmentNode = uQuery.GetNodesByType("TreatmentsData").First().GetDescendantNodesByType("Treatment").Where(d => d.UrlName == urlName).First();
    var details = Umbraco.TypedContent(treatmentNode.Id).Children(c => c.DocumentTypeAlias.Equals("details", StringComparison.CurrentCultureIgnoreCase));
    IEnumerable<IPublishedContent> sideBars = null;
    if (details.Any())
    {
        sideBars = details.First().Children(c => c.DocumentTypeAlias.Equals("sidebar", StringComparison.InvariantCultureIgnoreCase)).Where("visible");
    }
    var cols = 12;
}
@section styles {
    <link href="~/Content/css/beforeafter.css" rel="stylesheet" />
}

@section ImageSection {
    <section id="banner" style="background-color: @Umbraco.TypedContent(treatmentNode.Id).GetPropertyValue("colour");">
        <div id="treatment-image" class="grid-row" style="background-color: @Umbraco.TypedContent(treatmentNode.Id).GetPropertyValue("colour");">
            <img src="@Umbraco.TypedContent(treatmentNode.Id).GetCropUrl("thumbnail", "banner")" width="270" height="180" style="background-color: @Umbraco.TypedContent(treatmentNode.Id).GetPropertyValue("colour");" />
        </div>
    </section>
}

@if (sideBars != null && sideBars.Any())
{
    foreach (IPublishedContent sidebar in sideBars.DistinctBy(s => s.GetPropertyValue<bool>("Left")))
    {
        cols -= 3;
        if (sidebar.GetPropertyValue<bool>("Left"))
        {
    @section LeftSideBar {
        <div class="grid-col grid-col-3">

            @Html.Partial("_RelatedLinksPartial", sidebar)
            @if (sidebar.GetPropertyValue<bool>("appointmenWidget"))
            {
                Html.RenderPartial("_MakeAnAppointmentPartial");
            }
        </div>
    }
        }
        else
        {
    @section RightSideBar {
        <div class="grid-col grid-col-3">

            @Html.Partial("_RelatedLinksPartial", sidebar)
            @if (sidebar.GetPropertyValue<bool>("appointmenWidget"))
            {
                Html.RenderPartial("_MakeAnAppointmentPartial");
            }
        </div>
    }        
        }
    }
}

<div id="page-content" class="grid-col grid-col-@cols beautify">
    <div class="vc_row-fluid">
        @Html.Partial("_ChildrenPartial", details.First().Children().FirstOrDefault(c => c.DocumentTypeAlias.Equals("content", StringComparison.CurrentCultureIgnoreCase) && c.IsVisible()))
    </div>
</div>

@section scripts {
    <script src="~/scripts/BeforeAndAfter.js"></script>
}