@using PurityBridge.Live
@{
    ViewBag.Title = "Newsletters";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var newsLetterSummary = ViewBag.Data == null ? new List<NewsletterSummary>() : (List<NewsletterSummary>)ViewBag.Data;
    var newsLettersPerRow = 3;
}
<link href="~/Content/css/newsletter.css" rel="stylesheet" />
@if (newsLetterSummary.Any())
{
    IEnumerable<NewsletterSummary> newsLettersForCurrentRow = null;
    var newsLetterSummaryByYear = newsLetterSummary.ToList().OrderByDescending(s => s.MonthIndex).GroupBy(s => s.Year).Select(grp => new { Year = grp.Key, NewsLetterList = grp.ToList() }).OrderByDescending(grp => grp.Year);
    var currentYear = newsLetterSummary.First().Year;
    @Html.Hidden("defaultYear", currentYear)
    
    <div class="grid-row details">
        <section class="services newsletters services-wide wpb_content_element" id="services">
            <div class="widget-title"></div>
            <div class="owl-carousel owl-theme" id="services-carousel">
            </div>
            <div class="owl-controls clickable">
                <div class="owl-buttons">
                    <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </section>
        <section id="services-carousel-data" class="pbElement" disabled="disabled">
            @foreach (var summaryItem in newsLetterSummaryByYear)
            {
                <div data-year="@summaryItem.Year">
                    @if (summaryItem.NewsLetterList.Count() < newsLettersPerRow)
                    {
                        foreach (var newsletter in summaryItem.NewsLetterList)
                        {
                            <div class="newsletter-row">
                                <div class="item">
                                    <div style="min-height: 170px;">
                                        @renderListItems(newsletter)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        for (int skipCount = 0; skipCount < summaryItem.NewsLetterList.Count; skipCount += newsLettersPerRow)
                        {
                            newsLettersForCurrentRow = summaryItem.NewsLetterList.Skip(skipCount).Take(newsLettersPerRow);
                            <div class="newsletter-row">
                                <div class="item">
                                    @foreach (var newsletter in newsLettersForCurrentRow)
                                    {
                                        <div style="min-height: 170px; padding-bottom: 40px;">
                                            @renderListItems(newsletter)
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </section>
    </div>
}

@helper renderListItems(NewsletterSummary newsletter)
{
    var newsLetterUrl = string.Concat("/newsletters/", newsletter.Year, "/", newsletter.MonthName);
    <a class="pic" href="@newsLetterUrl"><img src="@newsletter.ImageUrl" /></a>
    <h2>@newsletter.MonthName &nbsp; @newsletter.Year</h2>
    @*<p></p>*@
    @*<a class="more fa fa-long-arrow-right" href="@newsLetterUrl"></a>*@
}


@section scripts {
    <script>
        function loadDetails(year) {

            if (year == "archived") {
                window.location.href = "./Archive";
            }

            var html = "";
            html = $('#services-carousel-data').first().find("[data-year='" + year + "']").html();
            $('#services-carousel').remove();
            $('.services').first().find('.widget-title').first().after('<div class="owl-carousel owl-theme" id="services-carousel">' + html + '</div>');
            $('#services-carousel').owlCarousel({
                items: 4,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsTabletSmall: false,
                itemsMobile: [150, 4],
                navigation: true,
                navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                pagination: false
            });
        }

        $(window).load(function () {
            loadDetails($('#defaultYear').val());
        })
    </script>
}
