@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<style>
    .recent-posts li {
        padding-top: 0px;
        border-top: none;
    }
</style>
@{
    var masterConfigurations = uQuery.GetNodesByType("MasterConfigurations").First();
    var alt = masterConfigurations.GetProperty<string>("qualityCareLogoImageAltValue") ?? string.Empty;
}

<!-- page footer -->
<footer class="page-footer">
    <a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
    <div class="grid-row" style="margin-bottom:0px">
        <div class="vc_row-fluid">
            <div class="vc_span3">
                <ul>
                    <li>
                        <a target="_blank" href="http://www.cqc.org.uk/" class="footer-logo">
                            <img width="158" height="50" alt="@alt" src="@Umbraco.TypedMedia(masterConfigurations.GetProperty<int>("qualityCareLogo")).Url">
                        </a>
                    </li>
                    <li>
                        <p>@masterConfigurations.GetProperty("qualityCareText")</p>
                    </li>
                </ul>
            </div>
            <div class="vc_span5">
                <section class="widget-alt recent-posts">
                    <div class="widget-title">@masterConfigurations.GetProperty("headingRecentPosts")</div>
                    <ul>
                        @foreach (umbraco.NodeFactory.Node post in uQuery.GetNodesByType("SmartBlogPost").ToList().OrderByDescending(c => c.GetProperty<DateTime>("smartBlogDate")).Take(3))
                        {
                            var date = post.GetProperty<DateTime>("smartBlogDate").ToString("dd MMM yyyy");
                            <li>
                                <p><a href="@post.Url">@post.GetProperty("smartBlogTitle").Value</a><br>@date</p>
                            </li>
                        }
                    </ul>
                </section>
            </div>
            <div class="vc_span2">
                <section class="widget-alt location">
                    <ul>
                        <li><i class="fa fa-phone"></i>@masterConfigurations.GetProperty("phoneNumber")</li>
                        <li><i class="fa fa-envelope"></i> @masterConfigurations.GetProperty("emailAddress")</li>
                        <li><i class="fa fa-skype"></i>@masterConfigurations.GetProperty("skypeContact")</li>
                    </ul>
                </section>
            </div>
            <div class="vc_span2">

                <section class="widget-alt location">
                    <address>
                        @Html.Raw(masterConfigurations.GetProperty("address").ToString())
                    </address>
                    <nav class="social-icons">
                        <a href="@masterConfigurations.GetProperty("twitterPageUrl")" class="fa fa-twitter"></a>
                        <a href="@masterConfigurations.GetProperty("facebookPageUrl")" class="fa fa-facebook"></a>
                    </nav>
                </section>
            </div>
        </div>
    </div>
</footer>
<!--/ page footer -->
<!-- copyrights -->
<div class="copyrights">
    Copyright 2014 Purity Bridge
</div>
<!--/ copyrights -->