@inherits UmbracoTemplatePage
@{
    Layout = null;
    var metaTitle = Model == null ? "" : Model.Content.GetPropertyValue("pageTitle");
    var metaDescription = Model == null ? "" : Model.Content.GetPropertyValue("description");
    var metaKeywords = Model == null ? "" : Model.Content.GetPropertyValue("keywords") == null ? "" : Model.Content.GetPropertyValue("keywords").ToString().Trim().Replace('\n' + "", ",");
}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>
            @metaTitle
        </title>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="@metaDescription" />
    <meta name="keywords" content="@metaKeywords" />
    <meta name="author" content='Purity Bridge' />
    <meta name="pageId" id="pageId" content="@Model.Content.Id" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--/ metas -->
    <!-- styles -->
    @*    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>*@
    <link href="/Content/css/layerslider.css" rel="stylesheet" />
    <link href="/Content/css/fullwidth/skin.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="/Content/css/jquery.fancybox.css" rel="stylesheet" />

    <link href="~/Content/css/composer.css" rel="stylesheet" />
    <link href="/Content/css/styles.css" rel="stylesheet" />
    <link href="/Content/css/color-cyan.css" rel="stylesheet" />
    <link href="~/Content/tuner/css/styles.css" rel="stylesheet" />
    <link href="/Content/css/Common.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <!--/ styles -->
    <!--[if lt IE 9]><script src="js/html5.js")<![endif]-->
</head>
<body>
    <div class="page">
        @{ Html.RenderPartial("_HeaderPartial"); }


        @{ Html.RenderPartial("_SearchPartial"); }
        @{ Html.RenderPartial("_PageTitlePartial"); }
        @Html.Partial("_SliderPartial", uQuery.GetCurrentNode())
        @RenderSection("ImageSection", false)
        <!-- page content -->
        <main>
            @RenderSection("HighlightsSection", false)
            @RenderSection("FeaturedSection", false)

            @*@if (!(Model.Content.GetPropertyValue<bool>("spa")) && !(Request.RawUrl.Contains("/home")) && !(Request.RawUrl.Contains("/contact")))*@
            @if (!(Model.Content.Url.Contains("/home")) && !(Request.RawUrl.Contains("/the-contact")))
            {
                <div class="grid-row">
                    @RenderSection("LeftSideBar", false)
                    @RenderBody()
                    @RenderSection("RightSideBar", false)
                </div>
            }
            else
            {
                @RenderBody()
            }
        </main>
        <!--/ page content -->
        @*@{ Html.RenderPartial("_FooterPartial"); }*@
    </div>
    <!-- scripts -->
    <script src="/Scripts/js/jquery.min.js"></script>
    <script src="/Scripts/restive.min.js"></script>
    <script src="/Scripts/js/jquery-ui.min.js"></script>
    <script src="/Scripts/js/jquery.migrate.min.js"></script>
    <script src="/Scripts/js/owl.carousel.min.js"></script>
    <script src="/Scripts/js/jquery.isotope.min.js"></script>
    <script src="/Scripts/js/jquery.fancybox.pack.js"></script>
    <script src="/Scripts/js/jquery.fancybox-media.js"></script>
    <script src="/Scripts/js/greensock.js"></script>
    <script src="/Scripts/js/layerslider.transitions.js"></script>
    <script src="/Scripts/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/modernizr.custom.js"></script>


    <!-- Superscrollorama -->
    @*<script src="/Scripts/js/jquery.superscrollorama.js"></script>*@
    @*<script src="/Scripts/js/TweenMax.min.js"></script>*@
    @*<script src="/Scripts/js/TimelineMax.min.js"></script>*@
    <!--/ Superscrollorama -->

    <script src="/Scripts/js/jquery.ui.core.min.js"></script>
    <script src="/Scripts/js/jquery.ui.widget.min.js"></script>
    <script src="/Scripts/js/jquery.ui.tabs.min.js"></script>
    <script src="/Scripts/js/jquery-ui-tabs-rotate.js"></script>
    <script src="/Scripts/js/jquery.ui.accordion.min.js"></script>
    @*<script src="/Scripts/js/jquery.tweet.js"></script>*@
    <!-- EASYPIECHART -->
    @*<script src="/Scripts/js/jquery.easypiechart.js"></script>*@
    <!--/ EASYPIECHART -->
    <script src="/Scripts/js/scripts.js"></script>
    <script src="/Scripts/Common.js"></script>
    @*<script src="~/scripts/classie.js"></script>
        <script src="~/scripts/AnimatedHeader.js"></script>*@

    @RenderSection("scripts", required: false)
    <!--/ scripts -->
    <!-- tuner -->
    @*<script src="/Content/tuner/js/scripts.js"></script>
        <div id="tuner" class="tuner">
            <label>Theme Colors</label>
            <ul class="colors">
                <li data-color="blue" class="color-blue active"><span></span></li>
                <li data-color="green" class="color-green"><span></span></li>
                <li data-color="pink" class="color-pink"><span></span></li>
                <li data-color="cyan" class="color-cyan"><span></span></li>
                <li data-color="orange" class="color-orange"><span></span></li>
                <li data-color="purple" class="color-purple"><span></span></li>
            </ul>
            <label>Layout Styles</label>
            <ul class="layouts">
                <li data-layout="boxed">Boxed</li>
                <li data-layout="widescreen" class="active">Widescreen</li>
            </ul>
            <i id="tuner-switcher" class="fa fa-cogs"></i>
        </div>*@
    <!--/ tuner -->
</body>
</html>
