@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>                                                                                 
@{
    var isHomePage = Model.Name.Equals("home", StringComparison.CurrentCultureIgnoreCase);
    var navigationItems = uQuery.GetNodesByType("ContentItem");
}

@if (navigationItems.Any())
{
    var hasChildren = false;
    var showOnRight = string.Empty;
    foreach (umbraco.NodeFactory.Node topLevelNavigation in navigationItems.First().Children)
    {
        hasChildren = topLevelNavigation.Children.Count > 0;
        showOnRight = (hasChildren &&
                            topLevelNavigation.GetPrecedingSiblingNodes().Count() > topLevelNavigation.GetSiblingNodes().Count() / 2)
                                        ? "class=right"
                                        : "";
        if (isHomePage && !(topLevelNavigation.GetProperty<bool>("isVisibleOnHomePage")))
        {
            continue;
        }
@*<li @showOnRight>*@
    <li class="right">
        @if (topLevelNavigation.GetProperty<bool>("isPageUnderConstruction"))
        {
           
            <a href="/under-construction" controller="">
                @if (hasChildren)
                {
                    <i class="fa fa-plus"></i>
                }
                @topLevelNavigation.Name</a>
        }
        else if (topLevelNavigation.Children.Count > 0)
        {
            <a href="@topLevelNavigation.Url" controller="@topLevelNavigation.Name">
                <i class="fa fa-plus"></i>
                @topLevelNavigation.Name
            </a>
            @childPages(topLevelNavigation.Children);
        }
        else
        {
            <a href="@topLevelNavigation.Url" controller="@topLevelNavigation.Name">
                @topLevelNavigation.Name
            </a>
        }
    </li>
    }
}

@helper childPages(umbraco.NodeFactory.Nodes pages)
{
    <ul>
        @foreach (umbraco.NodeFactory.Node page in pages)
        {
            <li>
                @if (page.GetProperty<bool>("isPageUnderConstruction"))
                {
           
                    <a href="/under-construction" controller="">
                        @if (page.Children.Count > 0)
                        {
                            <i class="fa fa-angle-right"></i>
                        }
                        @page.Name</a>
                }
                else if (page.ChildrenAsList.Where(c => c.HasProperty("isnavigation")).Any())
                {
                    <a href="@page.Url" controller="@page.Name">
                        <i class="fa fa-angle-right"></i>
                        @page.Name
                    </a>
                    @childPages(page.Children);
                }
                else
                {
                    <a href="@page.Url" controller="@page.Name">
                        @page.Name
                    </a>
                }
            </li>
        }
    </ul>
}