@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<umbraco.NodeFactory.Node>>
<style>
    .align {
        border: 1px solid #00aba5;
        float: left;
        height: 175px;
        margin-bottom: 5px !important;
        margin-right: 20px;
        padding: 3px;
        width: 300px;
    }

    .spannedItems .widget + .widget {
        margin-top: 0px;
    }

    .spannedItems .vc_span4 {
        padding-right: 1.1%;
        margin-left: 1.1%;
    }

        .spannedItems .vc_span4:last-child {
            border-right: none;
            padding-right: 0px;
        }

        .spannedItems .vc_span4:first-child {
            margin-left: 0px;
            border-left: none;
        }

    .spannedItems .vc_row-fluid, .spannedItems .wpb_content_element {
        margin-bottom: 0px !important;
    }

    .spannedItems .vc_span4 > .widget {
        margin: 50px 15px 15px;
    }

        .spannedItems .vc_span4 > .widget:first-child {
            margin-top: 0px;
        }

    .spannedItems .leftwarpper {
        float: right;
        margin-top: 10px;
    }

    .spannedItems .read-more {
        background: none repeat scroll 0 0 #fff;
        border: 2px solid #00aba5;
    }

    .spannedItems .more {
        color: #FFF;
        float: right;
        font-size: 18px;
        line-height: 28px;
        padding: 0 5px;
        border: 2px solid #00aba5;
        background: none repeat scroll 0 0 #00aba5;
    }

    .spannedItems .read-more {
        color: #00aba5;
        display: block;
        float: right;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 130px;
    }


    .widget-title {
        border-bottom-color: #00aba5;
        margin-bottom: 0px;
        height: 30px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
</style>
@if (Model.WhereNotNull().Any())
{
    var rightChoice = Umbraco.TypedContent(Model.First().Id);
    string content = string.Empty;
    var contentItems = rightChoice.Children(c => c.DocumentTypeAlias == "SpannedPhotoItem");
    int half = Convert.ToInt16(Math.Ceiling(contentItems.Count() / 3.0));
    <div class="vc_row-fluid spannedItems">
        <div class="vc_span4">
            @foreach (var spannedPhotoItem in contentItems.Take(half))
            {
                @renderContent(spannedPhotoItem);
            }
        </div>

        <div class="vc_span4">
            @foreach (var spannedPhotoItem in contentItems.Skip(half).Take(half))
            {
                @renderContent(spannedPhotoItem);
            }
        </div>

        <div class="vc_span4">
            @foreach (var spannedPhotoItem in contentItems.Skip(2 * half).Take(half))
            {
                @renderContent(spannedPhotoItem);
            }
        </div>
    </div>
}

@helper renderContent(IPublishedContent spannedPhotoItem)
{
    var content = string.Format("<h1></h1><p>{0}</p>",
                            string.Concat(spannedPhotoItem.GetPropertyValue<string>("text").Take(447)) + "..."
                                            .Replace('\n' + "", "</p><h1></h1><p>").Replace("<<.>>", "<i class='fa fa-circle'>  </i>"));
    <section class="widget right">
        <div class="widget-title">
            @spannedPhotoItem.GetPropertyValue("heading")
        </div>
        <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
                <img src="@spannedPhotoItem.GetCropUrl("spannedPhotoItem", "Landscape")" alt="@spannedPhotoItem.GetPropertyValue("heading")" class="align"/>
            </div>
            <div class="wpb_wrapper leftwarpper">
                <a class="read-more fancybox" href="#@spannedPhotoItem.Id">Read More <i class="more fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <div id="@spannedPhotoItem.Id" style="display:none; width:890px; height: auto;">
        <div class="widget-title">
            @spannedPhotoItem.GetPropertyValue("heading")
        </div>
        <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
                <img src="@spannedPhotoItem.GetCropUrl("spannedPhotoItem", "Landscape")" alt="@spannedPhotoItem.GetPropertyValue("heading")" class="align"/>
            </div>
            @Html.Raw(spannedPhotoItem.GetPropertyValue<string>("text"))
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.read-more').fancybox({
            autoDimensions: true
        });
    });
</script>
