@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@if (Request.RawUrl.Contains("purity-bri"))
{
    ViewBag.DataNode = uQuery.GetNodesByType("VideoData").First().GetChildNodes().Where(c => c.UrlName == "purity-bridge-experience");
    @Html.Partial("~/Views/Videos/Videos.cshtml", Model)
}
else if (Request.RawUrl.Contains("videos-fro"))
{
    ViewBag.DataNode = uQuery.GetNodesByType("VideoData").First().GetChildNodes().Where(c => c.UrlName == "videos-from-marc");
    @Html.Partial("~/Views/Videos/Videos.cshtml", Model)
}
else
{
    Layout = "/Views/Shared/_Layout.cshtml";
    var treatmentsData = uQuery.GetNodesByType("TreatmentsData");
    <section class="widget photo-tour photo-tour-3" id="photo-tour">
        @if (treatmentsData.Any())
        {
            var videos = treatmentsData.First().GetDescendantNodesByType("TreatmentData").Select(d => d.GetDescendantNodesByType("TreatmentVideos").FirstOrDefault()).WhereNotNull();
            <div class="grid isotope">
                @foreach (umbraco.NodeFactory.Node video in videos)
                {
                    if (video.ChildrenAsList.Any())
                    {
                        var parent = Umbraco.TypedContent(video.GetAncestorNodes().FirstOrDefault(n => n.NodeTypeAlias == "TreatmentData").Id);
                        var treatmentPage = uQuery.GetNodeByUrl(parent.Url.Replace("/data/", "/"));
                        var heading = (string)treatmentPage.GetProperty("heading").Value;
                        var url = string.Format("{0}{1}{2}", Request.RawUrl, (Request.RawUrl.EndsWith("/") ? string.Empty : "/"), treatmentPage.UrlName);
                        <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                            <div class="pic">
                                <img src="@parent.GetCropUrl("thumbnail", "thumb")" alt="@heading" />
                                <div class="links">
                                    <ul>
                                        <li><a href="@url" class="fa fa-mail-forward"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3>@heading</h3>
                        <p>@video.GetProperty("text")</p>
                    </div>
                    }
                }
            </div>
        }
    </section>
}
