@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>

@if (Request.RawUrl.Contains("purity-bri"))
{
    ViewBag.DataNode = uQuery.GetNodesByType("VideoData").First().GetChildNodes();
    @Html.Partial("~/Views/Videos/Videos.cshtml", Model)
}
else
{
    Layout = "/Views/Shared/_Layout.cshtml";
    var treatmentsData = uQuery.GetNodesByType("TreatmentsData");
    <section class="widget photo-tour photo-tour-3" id="photo-tour">
        @if (treatmentsData.Any())
        {
            var videos = treatmentsData.First().GetDescendantNodesByType("Treatment").Select(d => d.GetDescendantNodesByType("TreatmentVideos").FirstOrDefault()).WhereNotNull();
            <div class="grid isotope">
                @foreach (umbraco.NodeFactory.Node video in videos)
                {
                    if (video.ChildrenAsList.Any())
                    {
                        var parent = Umbraco.TypedContent(video.Parent.Id);
                        var url = "./treatments/" + parent.UrlName;
                    <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                        <div class="pic">
                            <img src="@parent.GetCropUrl("thumbnail", "thumb")" alt="@video.GetProperty("heading")" />
                            <div class="links">
                                <ul>
                                    <li><a href="@url" class="fa fa-mail-forward"></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>@video.GetProperty("heading")</h3>
                        <p>@video.GetProperty("text")</p>
                    </div>
                    }
                }
            </div>
        }
        <form method="post">
            <div id="page" style="display: none">1</div>
            <button type="button" class="button more" onclick="getPage()"><i class="fa fa-refresh"></i>Load more</button>
        </form>
    </section>
}

