@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var galleryData = uQuery.GetNodesByType("GalleryData");
    var galleryChildren = galleryData.First().GetDescendantNodes().Where(d => d.NodeTypeAlias == "VideoData" || d.NodeTypeAlias == "PhotosData").WhereNotNull();
}

@if (galleryChildren.Any())
{
    var url = string.Empty;
    <div class="vc_row-fluid">
        <div class="vc_span9">
            <div class="vc_row-fluid">
                <section class="widget photo-tour photo-tour-3 category" id="photo-tour">
                    <div class="grid isotope">
                        @foreach (umbraco.NodeFactory.Node child in galleryChildren)
                        {
                            url = string.Format("{0}{1}{2}", Request.RawUrl, (Request.RawUrl.EndsWith("/") ? string.Empty : "/"), child.UrlName);
                            <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                                <div class="pic">
                                    <img width="370" height="195" alt="@child.Name" src="@Umbraco.TypedContent(child.Id).GetCropUrl("thumbnail", "thumb")">
                                    <div class="links">
                                        <ul>
                                            <li><a href="@url" class="fa fa-mail-forward"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3>@child.Name</h3>
                                <p></p>
                            </div>
                        }
                    </div>
                </section>
            </div>
            <div class="vc_row-fluid">
                @Html.Partial("_ContentPartial", Umbraco.TypedContent(galleryData.First().GetChildNodesByType("content").WhereNotNull().FirstOrDefault().Id))
            </div>
        </div>
        <div id="photo-content" class="vc_span3">
            @Html.Partial("_MakeAnAppointmentPartial")
        </div>
    </div>
}
