@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = false;
    var homeData = uQuery.GetNodesByType("HomeData");
}
<link href="~/Content/css/home.css" rel="stylesheet" />
@if (homeData.Any())
{
    var highlights = homeData.First().ChildrenAsList.Where(data => data.NodeTypeAlias == "Highlights");
    if (highlights.Any())
    {
        //var highlightsContent = Umbraco.TypedContent(highlights.First().Id);
        @section HighlightsSection {
            @Html.Partial("_HighlightsPartial", highlights.First())
        }
    }

    var featured = homeData.First().ChildrenAsList.Where(data => data.NodeTypeAlias == "Featured");
    if (featured.Any())
    {
        //var featuredContent = Umbraco.TypedContent(featured.First().Id);
        @section FeaturedSection {
            @Html.Partial("_FeaturesPartial", featured.First())
        }
    }

    if (Request.RawUrl.Contains("home1"))
    {
        <div class="grid-row">
            <div class="vc_row-fluid beautify">
                @Html.Partial("_ContentPartial", Umbraco.TypedContent(homeData.First().Id).Children().FirstOrDefault(c => c.DocumentTypeAlias.Equals("index", StringComparison.InvariantCultureIgnoreCase) && c.IsVisible()))
            </div>

            <div class="vc_row-fluid beautify">
                @Html.Partial("_ContentPartial", Umbraco.TypedContent(homeData.First().Id).Children().FirstOrDefault(c => c.DocumentTypeAlias.Equals("Testimonials", StringComparison.InvariantCultureIgnoreCase) && c.IsVisible()))
            </div>
        </div>
    }
    else
    {


        var homeDataIndex = homeData.First().GetChildNodesByType("index").First();
        var rows = homeDataIndex.GetChildNodesByType("columns");
        if (rows.Any())
        {

            var classActive = "active";
            var classVisible = "visible";
            <div class="comments clearfix" style="position:relative; overflow:hidden;">
                <div class="mask">
                    <div class="mask-wrapper">

                    </div>
                </div>
                <div class="grid-row">

                    <div class="tab">
                        @foreach (var column in rows.First().GetDescendantNodesByType("PhotoText"))
                        {
                            <div class="box @classVisible">
                                @{
                            classVisible = "";
                                }
                                <h4>@column.GetProperty("heading")</h4>
                                <p>@column.GetProperty("text")</p>
                                <img src="@Umbraco.TypedContent(column.Id).GetCropUrl("photo", "home")" class="img-hide">
                                @*  <img src="~/Content/pic/medical-slide-1.jpg" class="img-hide">*@
                            </div>
                        }
                        <ul class="tabs">
                            @foreach (var column in rows.First().GetDescendantNodesByType("PhotoText"))
                            {
                                <li class="@classActive">
                                    @{
                                classActive = "";
                                    }
                                </li>
                            }
                        </ul>
                        <a class="tab-prev" href="#"></a>
                        <a class="tab-next" href="#"></a>
                    </div>
                </div>
            </div>

            <div class="treatments clearfix">
                <div class="grid-row">
                    <div class="newsletter-title">
                        The Treatments we offer
                    </div>
                </div>
                <div class="grid-row">
                    @foreach (var treatmentCategory in uQuery.GetNodesByType("TreatmentsData").First().GetDescendantNodesByType("TreatmentsCategory"))
                    {
                        var url = "/treatments/" + treatmentCategory.UrlName;
                        <div class="grid-col grid-col-3">
                            <div class="treatments-wrap">
                                <img class="treatment-image" src="@Umbraco.TypedContent(treatmentCategory.Id).GetCropUrl("thumbnail", "thumb")" />
                                <a href="@url" class="treatment-link"> <div class="treatment-heading">@treatmentCategory.Name </div></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="grid-row">
                    <div class="treatment-text">
                        <p>
                            Here at Purity Bridge in Tunbridge Wells we have carefully selected the treatments we offer and the highly skilled practitioners who administer them.
                        </p>
                        <p>
                            All products and treatments have a proven track record with regard to safety and high quality evidence of effectiveness. We have also been careful to choose therapies that complement one another and reach across the spectrum: from topical therapies, through to injectables, and other skin care treatments.
                        </p>
                    </div>
                </div>
            </div>

            <div class="newsletter clearfix">
                <div class="wrap">
                    <div class="newsletter-title">our newsletter</div>
                    <div class="newsletter-form clearfix">
                        <form action="">
                            <input type="email" class="input-text" placeholder="Your email">
                            <input type="button" value="Subscribe" class="button">
                        </form>
                    </div>
                    <p>If you want to recieve monthly updates from us just pop your email in the box.</p>
                </div>
            </div>
        }
    }
}
@section Scripts {
    <script src="~/scripts/library.js"></script>
    <script src="~/scripts/spascript.js"></script>
}
